<header class="header">

    <mat-toolbar color="primary">
        <mat-icon>favorite</mat-icon>
        <span>Kartvizit App</span>
        <span class="example-spacer"></span>
        <ul class="header-menu">
            <li>
                <a style="color: white; font-size: medium; margin-right: 10px;" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Anasayfa</a>
            </li>
            <li>
                <a style="color: white; font-size: medium;" routerLink="/about">Hakkında</a>
            </li>
            <li>
                <a style="color: white; font-size: medium;  margin-left: 10px;" routerLink="/cards">Kartvizitler</a>
            </li>
        </ul>
    </mat-toolbar>
</header>